<h2>Products and user</h2>
<section>
	<p>first name: {{user.first_name}}</p>
	<p>last name: {{user.last_name}}</p>
	<p>Email: {{user.email}}</p>
	<p>Rol: {{user.rol}}</p>
	<p>Age: {{user.age}}</p>
	<button id='logout'>Logout</button>
</section>


