    <div class="home">
           <ul>
        {{#each productos}}
            <li>Title: {{this.title}} - Description: {{this.description}} - Price: {{this.price}} - Thumbnail: {{this.thumbnail}} - Code: {{this.code}} - Stock: {{this.stock}} - Category: {{this.category}} - pid: {{this.pid}} - Status: {{this.status}}</li>
        {{/each}}
        </ul> 
    </div>
